/* styles.css */
:root {
  --border-color: gray;
  --unknown-bg-color: white;
}

.grid {
  display: grid;
  width: fit-content;
  height: fit-content;
  grid-template-columns: auto repeat(var(--numCols), var(--cellSize));
  grid-template-rows: auto repeat(var(--numRows), var(--cellSize));
  grid-gap: 0;
}

/* cellのデフォルト値 */
.grid>div {
  display: flex;
  width: var(--cellSize);
  height: var(--cellSize);
  font-size: var(--fontSize);
  border-top: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  align-items: center;
  color: transparent;
  cursor: pointer;
  user-select: none;
}

/* 左上のセル */
.grid> :first-child {
  width: auto;
  height: auto;
  cursor: default;
}

/* 縦のヒント */
.grid>.v-hint {
  height: auto;
  writing-mode: vertical-lr;
  padding: 4px 0;
  color: black;
  cursor: default;
  user-select: auto;
}

/* 横のヒント */
.grid>.h-hint {
  width: auto;
  padding: 0 4px;
  color: black;
  cursor: default;
  user-select: auto;
}

.grid>.last-row {
  border-bottom: 1px solid var(--border-color);
}

.grid>.last-col {
  border-right: 1px solid var(--border-color);
}

.Black {
  background-color: black;
}

.White {
  background-color: white;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><line x1="0" y1="0" x2="100" y2="100" stroke="black" stroke-width="4"/><line x1="100" y1="0" x2="0" y2="100" stroke="black" stroke-width="4"/></svg>');
  background-size: 100% 100%;
}

.Unknown {
  background-color: var(--unknown-bg-color);
}

.Six-ten {
  background-color: rgb(200, 255, 255);
}

.form-row {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.form-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

input[type="number"] {
  width: 42px;
}

canvas {
  border: 1px solid #000;
  display: block;
  margin-top: 10px;
}

/* ドラッグ中のテキスト */
#drag-text {
  position: absolute;
  display: none; /* デフォルトでは非表示 */
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 24px;
  text-shadow: 0 0 5px black;
}

#drag-text.dragging {
  display: flex; /* ドラッグ中のみ表示 */
}

#drag-text::before {
  content: 'ここに画像をドロップ';
}

body.edit-mode .normal-only {
  display: none;
}

body:not(.edit-mode) .edit-only {
  display: none;
}

body.edit-mode .grid > :first-child,
body.edit-mode .v-hint,
body.edit-mode .h-hint {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
  border: none !important;
  padding: 0 !important;
  visibility: hidden !important;
}
